@import "tailwindcss";
@import "tailwindcss-animated";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    @font-face {
        font-family: "Crude";
        src: url(assets/Crude.otf);
    }

    @font-face {
        font-family: "Helvetica Neue Black";
        src: url("/assets/HelveticaNeueBlack.otf") format("opentype");
    }

    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100%));
        }
    }
}

@theme {
    --font-display: "Helvetica Neue Black", sans-serif;
    --animate-slide: slide 400s linear infinite;
}

html {
    @apply bg-neutral-900;
}
